:root{
    --colorNAV: #111111;
    --sideWitdh: 200px;
}

a{
    text-decoration: none;
    color: red;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card img{
    max-width: 400px;
}

.NavChunk{
    width: var(--sideWitdh);
    background-color: lightsalmon;
}

#Item1, #Item2, #Item3 {
    display: flex;
    flex-direction: row;
}

#profileIMG{
    width: var(--sideWitdh);
    border: 0px solid rgba(0, 0, 0, 0.0);
    border-radius: 100%;
    padding: 20px;
}